@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('./index.css');
@import url('./header__content.css');
@import url('./sections__content_01.css');
@import url('./sections__content_02.css');
@import url('./sections__content_03.css');
@import url('./slider__indicator.css');
@import url('./burger-menu.css');

:root {
  --bg: #0b1d26;
  --weib: #fff;
  --accent: #fbd784;

  --font-family: 'Poppins', sans-serif;
  --font-family-medium: 'Poppins-Medium', sans-serif;
  --font-family-regular: 'Poppins-Regular', sans-serif;
  --font-family-semi-bold: 'Poppins-SemiBold', sans-serif;
  --second-family: 'Playfair Display', sans-serif;
}
* {
  outline: 1px solid rgb(0, 255, 0);
}
body {
  background-color: var(--bg);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body a {
  cursor: pointer;
}
.general-container {
  display: grid;
  /* grid-template-columns: 229px 1478px 212px; */
  grid-template-columns: 11.9% 77% 11.1%;
  grid-template-rows: 1440px 460px 2100px 200px 280px 120px;
  max-width: 1920px;
  margin: 0 auto;
}
.sections__foto img {
  max-width: 100%;
  height: auto;
  width: auto;
}
/* HEADER STYLE */
header {
  grid-column: 1/4;
  grid-row: 1/3;
  background-image: url('./img/1920/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  height: 1900px;
}

.header__logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  width: 113px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--weib);
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  min-width: 286px;
  height: 27px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
  padding: 2px 3px 8px 0px;
}
.header__link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  width: auto;
  color: var(--weib);
}
.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  width: 105px;
  padding: 3px 0px 8px 0px;
  position: relative;
}
.header__account-link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
  color: var(--weib);
}
.header__account-img {
  padding-right: 7px;
  padding-top: 2px;
}
.header__account-span {
  padding-left: 3px;
  position: absolute;
  top: 6px;
}
.header__burger-menu {
  display: none;
}
.header__social-span {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--weib);
}
.header__social-group-btn {
  padding-top: 16px;
  padding-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
  width: 24px;
  height: 72px;
}
.header__social-btn {
  width: 24px;
  height: 24px;
}
.header__content-first-line {
  height: 27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  justify-items: flex-start;
  gap: 33px;
}
.header__content-img {
  height: 2px;
  padding-top: 10px;
  position: relative;
}
.header__content-span {
  padding-top: 3px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: var(--accent);
}
.header__content-second-line {
  padding-top: 5px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 88px;
  line-height: 114%;
  text-transform: capitalize;
  color: var(--weib);
}
.header__content-scroll-down {
  width: 126px;
  height: 28px;
  padding-left: 1px;
}
.header__content-btn {
  display: inline-block;
  width: 100%;
  height: 28px;
  font-family: var(--font-family);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: var(--weib);
}
.header__content-scroll-span {
  vertical-align: text-top;
}
.header__slider {
  position: fixed;
  z-index: 1;
  top: 326px;
  right: 80px;
  width: 77px;
  height: 244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}
.header__slider-list {
  margin-left: 1px;
  margin-top: 19px;
  margin-bottom: 0px;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -moz-box-align: end;
  align-items: flex-end;
}
.header__slider-item {
  height: 27px;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  color: var(--weib);
}
.header__slider-bg {
  position: relative;
  padding-left: 28px;
}
/* MAIN STYLE */
main {
  grid-column: 2/3;
  grid-row: 2/4;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.sections__container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1478px;
  width: 100%;
  grid-column: 2/3;
  grid-row: 2/4;
}

.section {
  margin: 0 8px;
  max-width: 1462px;
  width: 100%;
  max-height: 720px;
}
.sections_number {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 240px;
  line-height: 100%;
  color: var(--weib);
  opacity: 0.1;
  width: 100%;
  height: 240px;
}
.sections__one {
  display: grid;
  /* grid-template-columns: 247px auto 567px; */
  /* grid-template-columns: 16.9% 44.3% 38.8%; */
  /* grid-template-columns: 134px 113px 519px 130px 566px; */
  grid-template-columns: 9.2% 7.7% 35.5% 8.9% 38.7%;
  grid-template-rows: 38px 152px 88px 377px 65px;
}
.number-left {
  grid-row: 2/4;
  grid-column: 1/3;
}
.number-right {
  grid-column: 3/5;
  grid-row: 2/4;
}
.sections__link-more {
  height: 27px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--accent);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -moz-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  gap: 7px;
}
.sections__btn-more-img {
  padding-top: 3px;
  -ms-flex-item-align: self-start;
  align-self: self-start;
}
.sections__two {
  display: grid;
  /* grid-template-columns: 566px 114px 294px auto; */
  /* grid-template-columns: 566px 114px 150px 144px 488px; */
  grid-template-columns: 38.7% 7.8% 10.3% 9.8% 33.4%;
  grid-template-rows: 38px 162px 78px 441px;
}
.sections__three {
  display: grid;
  /* grid-template-columns: 302px auto 567px; */
  /* grid-template-columns: 134px 168px 464px 130px 566px; */
  grid-template-columns: 9.2% 11.5% 31.7% 8.9% 38.7%;
  grid-template-rows: 38px 141px 99px 388px 54px;
}
.sections__foto {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 566px;
  width: 100%;
  max-height: 720px;
  height: 100%;
}
.sections__img-01,
.sections__img-03 {
  grid-column: 5/6;
  grid-row: 1/6;
}
.sections__img-2 {
  grid-column: 1/2;
  grid-row: 1/4;
}
/* FOOTER STYLE */
footer {
  grid-column: 2/3;
  grid-row: 5/6;
}
.footer__container {
  /* position: absolute;
  top: 4200px;
  bottom: 0;
  margin-left: 229px; */
  max-width: 1478px;
  width: 100%;
  max-height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.footer__holder {
  display: grid;
  grid-template-rows: 43px 19px 64px auto 32px;
  width: 382px;
  height: 280px;
}
.footer__logo {
  padding-top: 5px;
}
.footer__text {
  width: 365px;
  font-family: var(--font-family-semi-bold);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.96rem;
  letter-spacing: 0px;
  color: var(--weib);
}
.footer__text p {
  margin: 0;
}
.footer__copyright {
  padding: 8px 0 0 2px;
}
.footer__wrapper {
  max-width: 582px;
  width: 100%;
  max-height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.footer__links-blog {
  max-width: 209px;
  width: 100%;
  max-height: 224px;
  height: 100%;
}
.footer__links-mntn {
  max-width: 177px;
  max-height: 184px;
}
.footer__links-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--accent);
  margin: 0;
}
.footer__link {
  font-family: var(--font-family-semi-bold);
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
  color: var(--weib);
  text-decoration: none;
}
.footer__links-ul-blog,
.footer__links-ul {
  margin-top: 24px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;

  -moz-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;
}
.footer__links-ul-mntn {
  max-width: 91px;
  width: 100%;
  max-height: 128px;
  height: 100%;
}

.open {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: shows 1s;
  animation: shows 1s;
}
.hidden {
  display: none;
}
@-webkit-keyframes shows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes shows {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Desktop 1536 */
@media (max-width: 1536px) {
  .general-container {
    /* grid-template-columns: auto 1260px auto; */
    grid-template-columns: 9% 82% 9%;
    grid-template-rows: 1443px 239px 2456px 200px 312px 50px;
    max-width: 1536px;
    width: 100%;
  }
  /* HEADER STYLE BY 1536 */
  header {
    grid-column: 1/4;
    grid-row: 1/3;
    background-image: url('./img/1536/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1536px;
    height: 1662px;
  }
  .header__container {
    height: 660px;
  }
  .header__menu {
    max-width: 1376px;
    padding-left: 3px;
  }
  .header__second-line {
    /* gap: 188px; */
    gap: 13.6%;
    max-width: 1411px;
  }
  .header__social {
    margin-top: 54px;
  }
  .header__links {
    padding: 4px 7px 0px 1px;
  }
  .header__account {
    padding: 5px 0px 8px 0px;
  }
  .header__account-img {
    padding-left: 3px;
    padding-right: 4px;
  }
  .header__account-span {
    padding-left: 2px;
    top: 9px;
  }
  .header__slider {
    top: 326px;
    right: 48px;
  }
  /* MAIN STYLE BY 1536 */
  .sections__container {
    grid-column: 2/3;
    grid-row: 2/4;
    max-width: 1260px;
    width: 100%;
    max-height: 2695px;
    height: 100%;
    /* margin: 0 auto; */
  }
  .section {
    margin: 0;
    max-width: 1260px;
    width: 100%;
    max-height: 765px;
  }
  .sections__one {
    /* grid-template-columns: 247px auto 488px; */
    /* grid-template-columns: 71.9 175.88 456.82 68.4 487; */
    grid-template-columns: 5.71% 13.96% 36.26% 5.43% 38.65%;
    /* grid-template-rows: 40.38px 165.03px 74.97px 412.03px 72.59px; */
    grid-template-rows: 5.28% 21.57% 9.8% 53.86% 9.49%;
  }
  .sections__two {
    /* grid-template-columns: 487.8px 80.25px 314px auto; */
    /* grid-template-columns: 487.8px 80.2 103.66 210.34 421.66; */
    grid-template-columns: 38.71% 6.37% 8.23% 16.69% 30%;
    /* grid-template-rows: 18.38px 255px auto; */
    /* grid-template-rows: 18px 154.53px 100.47px 418.53px 73.47px; */
    grid-template-rows: 2.35% 20.2% 13.13% 54.71% 9.6%;
  }
  .sections__three {
    /* grid-template-columns: 302px auto 488px; */
    /* grid-template-columns: 71.8px 230.1px 401.8px 68.3px 488px; */
    grid-template-columns: 5.7% 18.26% 31.89% 5.42% 38.73%;
    /* grid-template-rows: 38px 240px auto; */
    /* grid-template-rows: 40.38px 165.03px 74.97px 412.03px 72.59px; */
    grid-template-rows: 5.28% 21.57% 9.8% 53.86% 9.49%;
  }
  .number-right {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .sections__content-03 {
    top: 205.41px;
    left: 71.82px;
  }
  .sections__foto {
    max-width: 488px;
    max-height: 765px;
  }
  /* FOOTER STYLE BY 1536 */
  /* .footer__container {
    top: 4339px;
    bottom: 0;
    max-width: 1258px;
    height: 312px;
  } */
  .footer__wrapper {
    max-width: 637px;
    max-height: 248px;
  }
  .footer__links-blog {
    max-width: 300px;
    max-height: 248px;
  }
  .footer__links-mntn {
    max-width: 220px;
    width: 100%;
    max-height: 180px;
  }
  .footer__links-ul-blog {
    margin-top: 19.26px;
    max-width: 284px;
    width: 100%;
    max-height: 200px;
  }
  /* .footer__links-ul-mntn {
    gap: 14px;
    padding-top: 22px;
  } */
}
/* Laptop 1024 */
@media (max-width: 1024px) {
  .general-container {
    /* grid-template-columns: 32px 960px 32px; */
    grid-template-columns: 3.1% 93.8% 3.1%;
    /* grid-template-rows: 1177px 266px 5360px 77px 306px 72px; */
    grid-template-rows: 16.22% 3.66% 73.85% 1.06% 4.22% 0.99%;
    height: 7258px;
  }
  /* HEADER STYLE BY 1024 */
  header {
    grid-column: 1/4;
    grid-row: 1/3;
    background-image: url('./img/1024/bg.webp');
    max-width: 1024px;
    height: 1443px;
  }
  .header {
    margin: 64px 62px auto 61px;
  }
  .header__container {
    max-width: 915px;
  }
  .header__second-line {
    gap: 102px;
    max-width: 899px;
    margin-left: 16px;
  }
  .header__menu {
    max-width: 901px;
    padding-left: 0px;
  }
  .header__links {
    width: 310px;
    height: 28px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-box-pack: start;
    justify-content: flex-start;
    gap: 40px;
    padding: 5px 0px 0px 0px;
  }
  .header__account {
    width: 117px;
    height: 26px;
    padding: 7px 0px 0px 0px;
  }

  .header__account-span {
    padding-left: 6px;
    top: 11px;
  }

  .header__content {
    max-width: 705px;
    max-height: 315px;
    overflow: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
  }
  .header__content-second-line {
    font-size: 60px;
    line-height: 167%;
  }
  .header__slider-list {
    margin-left: 18px;
    margin-top: 20px;
  }
  .header__slider-bg {
    padding-left: 10px;
  }

  /* MAIN STYLE BY 1024 */
  .section {
    /* margin: 0 auto; */
    max-width: 960px;
    width: 100%;
    max-height: 1830px;
    height: 100%;
  }
  .sections__container {
    display: block;
  }
  .sections__one {
    /* grid-template-columns: 50px 50px 247px 478px 85px 50px; */
    grid-template-columns: 5.21% 5.21% 25.73% 49.79% 8.85% 5.21%;
    /* grid-template-rows: 240px 452px auto 78px; */
    grid-template-rows: 4.26% 7.43% 5.68% 20.93% 3.77% 53.66% 4.26%;
  }
  .sections__two {
    margin-top: 100px;
    /* grid-template-columns: 50px 50px 294px auto 50px; */
    grid-template-columns: 5.21% 5.21% 12.29% 18.33% 50.63% 3.13% 5.21%;
    /* grid-template-rows: 78px 240px 452px auto 78px; */
    grid-template-rows: 4.26% 7.21% 5.9% 21.48% 3.22% 53.66% 4.26%;
  }
  .sections__three {
    margin-top: 36px;
    /* grid-template-columns: 50px 50px 100px 302px auto 50px; */
    /* grid-template-columns: 50 35.61 14.39 302 315.61 192.39 50; */
    grid-template-columns: 5.21% 3.71% 1.5% 31.46% 32.88% 20.04% 5.21%;
    /* grid-template-rows: 78px 240px 452px auto 78px; */
    /* grid-template-rows: 78 140.53 99.47 387.53 64.47 982 78; */
    grid-template-rows: 4.26% 7.68% 5.44% 21.18% 3.52% 53.66% 4.26%;
  }
  .number-left {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .number-right {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .number-left_03 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .sections__img-01 {
    grid-column: 2/6;
    grid-row: 6/7;
  }
  .sections__img-02 {
    grid-column: 2/7;
    grid-row: 6/7;
  }
  .sections__img-03 {
    grid-column: 2/7;
    grid-row: 6/7;
  }
  .sections__foto {
    max-width: 860px;
    width: 100%;
    max-height: 982px;
    height: 100%;
  }
  /* FOOTER STYLE BY 1024 */
  .footer__container {
    max-width: 960px;
    height: 306px;
  }

  .footer__holder {
    width: 384px;
    height: 306px;
    grid-template-rows: 43px 19px 95px auto 31px;
  }

  .footer__logo {
    padding-top: 6px;
  }

  .footer__text {
    padding-top: 1px;
    margin-left: -1px;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: -0.02px;
  }

  .footer__copyright {
    padding: 9px 0 0 3px;
  }

  .footer__copyright img {
    content: url('./img/copyright_small.png');
  }

  .footer__wrapper {
    max-width: 486.11px;
    max-height: 287.86px;
  }
  .footer__links-blog {
    max-width: 245.1px;
    max-height: 287.86px;
  }
  .footer__links-ul-blog {
    margin-top: 27px;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 245.51px;
    max-height: 229.86px;
  }

  .footer__links-mntn {
    max-width: 184px;
    max-height: 179px;
  }
  .footer__links-ul-blog,
  .footer__links-ul-mntn {
    padding-top: 0;
  }

  .footer__link {
    font-size: 16px;
    line-height: 200%;
    letter-spacing: -0.1px;
  }
  /* .footer__links-ul {
    margin-top: 24px;
    padding-top: 0px;
    gap: 15px;
  } */
}
/* Tablet 768 */
@media (max-width: 768px) {
  .general-container {
    /* grid-template-columns: auto 704px auto; */
    grid-template-columns: 4.2% 91.6% 4.2%;
    /* grid-template-rows: 1265px 178px 4548px 95px 306px 38px; */
    grid-template-rows: 19.7% 2.7% 70.7% 1.4% 4.7% 0.8%;
    max-width: 768px;
    width: 100%;
    height: 6430px;
    /* margin: 0 auto; */
  }
  header {
    grid-column: 1/4;
    grid-row: 1/3;
    background-image: url('./img/768/bg.webp');
    max-width: 768px;
    width: 100%;
    height: 1443px;
  }
  .header {
    /* margin: 64px 48px auto 61px; */
  }
  /* HEADER STYLE BY 768 */
  .header__container {
    max-width: 656px;
    height: 509px;
  }
  .header__menu {
    max-width: 640px;
  }

  .header__second-line {
    margin-left: 0px;
    gap: 27px;
    max-height: 308px;
  }
  .header__links {
    display: none;
  }

  .header__account {
    display: none;
  }

  .header__burger-menu {
    display: block;
  }

  .header__social {
    width: 24px;
    height: 150px;
    margin-top: 95px;
  }

  .header__social-span {
    font-size: 16px;
    height: 110px;
  }

  .header__social-group-btn {
    padding-top: 3px;
    padding-left: 0;
  }
  .header__social-btn img {
    width: 20px;
    height: 20px;
  }
  .header__content {
    max-width: 517px;
    max-height: 308px;
  }
  .header__content-first-line {
    height: 24px;
    gap: 24px;
  }
  .header__content-span {
    padding-top: 4px;
    font-size: 16px;
    letter-spacing: 0.38em;
  }
  .header__content-second-line {
    font-size: 44px;
    line-height: 227%;
  }
  .header__content-scroll-down {
    width: 117px;
    height: 24px;
  }
  .header__content-btn {
    font-size: 16px;
  }

  .header__content-arrow {
    margin-top: 2px;
    margin-left: 6px;
    width: 12px;
    height: 20px;
  }
  .header__slider {
    width: 68px;
    height: 240px;
    top: 326px;
    right: 48px;
  }
  .header__slider-list {
    margin-left: 10px;
    margin-top: 20px;
    height: 210px;
  }
  .header__slider-item {
    font-size: 16px;
  }

  .header__slider-bg {
    padding-left: 15px;
  }
  /* MAIN STYLE BY 768 */
  main {
    max-width: 704px;
    max-height: 4726px;
    height: 100%;
  }
  .sections__container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* gap: 38px; */
    max-width: 704px;
    max-height: 4726px;
    height: 100%;
  }
  .section {
    max-width: 704px;
    max-height: 1550px;
    height: 100%;
  }
  .sections__one {
    /* grid-template-columns: 35px 186px 448px 35px; */
    grid-template-columns: 4.97% 26.42% 63.64% 4.97%;
    /* grid-template-rows: 240px 374px auto; */
    /* grid-template-rows: 2 159.5 328.5 45.5 ; */
    grid-template-rows: 0.13% 10.29% 5.19% 21.19% 2.94% 60.26%;
    height: 1550px;
  }
  .sections__two {
    margin-top: 0px;
    /* grid-template-columns: 35px 221px 413px 36px; */
    grid-template-columns: 4.97% 31.39% 58.52% 5.11%;
    /* grid-template-rows: 22px 240px 353px auto; */
    grid-template-rows: 1.42% 9.91% 5.58% 19.01% 3.78% 60.3%;
    /* max-height: 1548px; */
  }
  .sections__three {
    margin-top: 0px;
    /* grid-template-columns: 35px 227px 407px 35px; */
    grid-template-columns: 4.97% 31.39% 58.52% 5.11%;
    /* grid-template-rows: 8px 240px 368px auto; */
    grid-template-rows: 0.52% 9.9% 5.58% 20.81% 2.94% 60.26%;
    /* height: 1550px; */
  }
  .sections__img-01 {
    grid-column: 1/5;
    grid-row: 6/7;
  }

  .sections__img-02,
  .sections__img-03 {
    grid-column: 1/5;
    grid-row: 6/7;
  }
  .sections__img-02 {
    margin-top: 1px;
  }
  .sections__img-03 {
    margin-top: 5px;
  }
  .sections_number {
    font-size: 180px;
    line-height: 133%;
  }
  .number-left {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .number-right {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .sections__btn-more {
    margin-top: 27px;
  }
  .sections__foto {
    max-width: 704px;
    max-height: 934px;
    height: 100%;
  }
  /* FOOTER STYLE BY 768 */
  .footer__container {
    max-width: 704px;
    max-height: 306px;
    height: auto;
  }
  .footer__holder {
    max-width: 321px;
    height: 100%;
    grid-template-rows: 43px 19px 95px auto 31px;
  }
  .footer__logo {
    padding-top: 17px;
  }

  .footer__logo img {
    width: 107px;
  }

  .footer__text {
    max-width: 262.94px;
    padding-top: 10px;
  }

  .footer__copyright {
    padding: 22px 0 0 3px;
  }

  .footer__copyright img {
    content: url('./img/copyright_768.png');
  }

  .footer__wrapper {
    margin-top: 0.55rem;
    max-width: 378.02px;
    max-height: 248px;
    height: 100%;
  }

  .footer__links-title {
    font-size: 20px;
    line-height: 160%;
  }

  .footer__links-blog {
    max-width: 230.1px;
    max-height: 260px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer__links-mntn {
    width: 192px;
  }

  .footer__links-ul-blog {
    /* margin-top: 14px 0px; */
    /* gap: 9px; */
    margin-top: 0;
    max-height: 190px;
    height: 100%;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 10px;
  }

  .footer__links-title_mntn {
    padding-top: 2px;
  }

  .footer__links-ul-mntn {
    margin-top: 22px;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 10px;
  }
}
@media (max-width: 606px) {
  .general-container {
    max-height: 4715px;
  }

  /* FOOTER STYLE BY 480 */
  .footer__container {
    max-width: 440px;
    height: auto;
    display: block;
  }
  .footer__holder {
    display: block;
    height: 114px;
  }
  .footer__logo {
    padding-top: 7px;
  }
  .footer__logo img {
    width: 105px;
  }
  .footer__text {
    max-width: 327.35px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 267%;
    color: var(--weib);
    padding-top: 0px;
    margin-left: 1px;
  }
  .footer__text p {
    max-width: 440px;
    width: 100%;
    letter-spacing: -0.01em;
  }
  .footer__copyright {
    position: relative;
    padding: 0;
    bottom: -393px;
    max-width: 327px;
    width: 100%;
    height: 22px;
  }
  .footer__copyright img {
    content: url('./img/copyright_480.png');
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    margin-top: 0;
  }
  .footer__links-blog {
    height: 208px;
  }
  .footer__links-ul-blog {
    margin-top: 8px;
    gap: 17px;
  }
  .footer__link {
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
  }
  .footer__links-mntn {
    margin-top: 37px;
  }
  .footer__links-ul-mntn {
    margin-top: 7px;
    gap: 10px;
  }
}
/* Mobile 480 */
@media (max-width: 480px) {
  .general-container {
    /* grid-template-columns: 20px 440px 20px; */
    grid-template-columns: 4.2% 91.6% 4.2%;
    grid-template-rows: 663px 185px 2965px 114px 531px 57px;
    max-width: 480px;
    /* margin: 0 auto; */
  }
  header {
    grid-column: 1/5;
    grid-row: 1/3;
    background-image: url('./img/480/bg.webp');
    max-width: 480px;
    height: 848px;
  }
  /* HEADER STYLE BY 480 */
  .header {
    margin: 61px 10px auto 10px;
  }
  .header__second-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 7%;
    max-width: 440px;
    max-height: 495px;
    height: 100%;
  }
  .header__container {
    max-width: 440px;
    width: 100%;
    height: 602px;
    /* height: 100%; */
  }
  .header__logo {
    width: 142px;
  }
  .header__logo img {
    content: url(./img/icons/logo_480.svg);
  }
  .header__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    width: 149px;
    height: 24px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-top: 0;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .header__social-span {
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
    height: 24px;
    padding-top: 6px;
  }
  .header__social-group-btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
    width: 58px;
    height: 20px;
  }
  .header__social-btn {
    display: block;
  }
  .header__menu {
    max-width: 440px;
  }
  .header__content {
    max-width: 388px;
    width: 100%;
    max-height: 330px;
    height: 100%;
  }
  .header__content-second-line {
    margin-top: -7px;
    line-height: 159%;
    padding-top: 0px;
  }
  .header__content-scroll-down {
    margin-left: -1px;
    margin-bottom: 2px;
  }
  .header__content-arrow {
    padding-top: 1px;
    margin-left: 7px;
  }
  .header__slider {
    top: 305px;
    right: 28px;
  }
  .header__slider-bg {
    padding-left: 14px;
  }
  /* MAIN STYLE BY 480 */
  .sections__container {
    /* gap: 40px; */
    display: block;
    max-width: 440px;
    width: 100%;
    max-height: 3150px;
    height: 100%;
  }
  .section {
    max-width: 440px;
    height: auto;
  }
  .sections__one {
    display: block;
    max-height: 1000px;
    height: 100%;
    /* grid-template-columns: 0px 144px auto;
    grid-template-rows: 0px 150px 341px auto; */
  }
  .sections__two {
    margin-top: 42px;
    max-height: 1028px;
    height: 100%;
    /* display: block; */
    /* grid-template-columns: 172px 268px; */
    grid-template-columns: 39% 61%;
    /* grid-template-rows: 1px 91px 59px 346px 22px 509px; */
    grid-template-rows: 0.01% 8.6% 5.7% 33.75% 2.14% 49.6%;
  }
  .sections__three {
    margin-top: 40px;
    display: block;
    /* grid-template-columns: 0px 177px auto;
    grid-template-rows: 0px 150px 378px auto; */
  }
  /* .sections__img-01,
  .sections__img-02,
  .sections__img-03 {
    grid-column: 1/5;
    grid-row: 4/5;
  } */
  .sections__img-01 {
    margin-top: 46.5px;
  }
  .sections_number {
    font-size: 140px;
    line-height: 107%;
    max-width: 144px;
    max-height: 150px;
  }
  .number-left,
  .number-right {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .sections__foto {
    max-width: 440px;
    max-height: 509px;
  }
  .sections__img-03 {
    margin-top: 22px;
  }
}

/* Mobile 320 */
@media (max-width: 320px) {
  .general-container {
    grid-template-columns: 10px 300px 10px;
    grid-template-rows: 549px 46px 920px 90px 920px 90px 920px 79px 684px 26px;
    max-width: 320px;
    max-height: 4324px;
    margin: 0 auto;
  }
  header {
    grid-column: 1/4;
    grid-row: 1/2;
    background-image: url('./img/320/bg.webp');
    max-width: 480px;
    height: 549px;
  }
  /* HEADER STYLE BY 320 */
  .header__container {
    /* margin-left: 10px; */
    max-width: 310px;
  }
  .header__menu {
    max-width: 300px;
  }
  .header__logo {
    width: 129px;
    height: 41px;
  }
  .header__logo img {
    content: url(./img/icons/logo_320.svg);
  }
  .header__burger-menu {
    margin-top: 5px;
  }
  .header__burger-btn {
    display: block;
  }
  .header__burger-btn img {
    content: url('./img/icons/burger_320.svg');
  }
  .header__social {
    left: 160px;
    top: 170px;
  }
  .header__social-span {
    font-family: var(--font-family-semi-bold);
  }
  .header__content {
    left: 10px;
    width: 300px;
    height: 298px;
  }
  .header__content-first-line {
    gap: 14px;
  }
  .header__content-span {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5em;
    padding-top: 2px;
  }
  .header__content-img {
    width: 40px;
    padding-top: 7px;
  }
  .header__content-second-line {
    height: 218px;
    width: 240px;
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
    margin-top: 0px;
  }
  .header__content-scroll-down {
    width: 120px;
    margin: 0;
  }
  .header__content-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-box-pack: start;
    justify-content: flex-start;
    gap: 23px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
  }
  .header__content-scroll-span {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
    margin-left: -1px;
  }
  .header__content-arrow {
    margin: 0;
    padding-top: 0px;
  }
  .header__slider {
    top: 352px;
    right: auto;
    left: 239px;
    width: 66px;
  }
  .header__slider-list {
    margin-left: 19px;
    margin-top: 15px;
    height: 142px;
  }
  .header__slider-item {
    font-weight: 700;
    font-size: 12px;
  }
  .header__slider-bg {
    padding-left: 15px;
  }
  .header__slider-bg img {
    width: 2px;
  }
  /* MAIN STYLE BY 320 */
  main {
    grid-column: 2/3;
    grid-row: 3/8;
  }
  .sections__container {
    /* display: block;
    grid-column: 2/3;
    grid-row: 3/8; */
    gap: 90px;
    width: 300px;
    height: 2940px;
  }
  .section {
    max-width: 300px;
    max-height: 920px;
  }
  .sections__one {
    grid-template-columns: 1px 103px auto;
    grid-template-rows: 1px 90px 429px auto;
  }
  .sections__two {
    margin-top: 0px;
    grid-template-columns: 1px 123px auto;
    grid-template-rows: 1px 90px 429px auto;
  }
  .sections__three {
    margin-top: 90px;
    grid-template-columns: 1px 126px auto;
    grid-template-rows: 1px 90px 429px auto;
  }
  .sections_number {
    width: 103px;
    height: 90px;
    font-weight: 700;
    font-size: 100px;
    line-height: 90%;
  }
  .number-left,
  .number-right {
    left: -1px;
  }
  .sections__two {
    grid-template-rows: 1px 43px 47px 399px 30px 400px;
    margin-top: 91px;
    height: 920px;
  }
  .sections__three {
    /* margin-top: 52px; */
    max-height: 920px;
    height: 100%;
  }
  .sections__foto {
    max-width: 300px;
    max-height: 400px;
    margin-top: -1px;
  }
  .sections__img-01 {
    margin-top: 28.5px;
  }
  .sections__img-03 {
    margin-top: 27px;
  }
  /* FOOTER STYLE BY 320 */
  footer {
    grid-column: 2/3;
    grid-row: 9/10;
  }
  .footer__container {
    max-width: 300px;
    height: auto;
  }
  .footer__holder {
    width: 300px;
    height: 114px;
  }
  .footer__text {
    margin-top: 3px;
    margin-left: 0;
    width: 300px;
  }
  .footer__wrapper {
    margin-top: 27px;
    width: 300px;
    height: 266px;
  }
  .footer__links-blog {
    height: 266px;
  }
  .footer__links-ul-blog {
    height: 189px;
    margin-top: 31px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
  }
  .footer__link {
    font-family: var(--font-family-medium);
  }
  .footer__links-mntn {
    margin-top: 43px;
  }
  .footer__links-ul-mntn {
    margin-top: 25px;
    gap: 18px;
  }
  .footer__copyright {
    padding: 0;
    bottom: -495px;
    width: 300px;
    height: 22px;
  }
}
