@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('./index.css');
@import url('./sections__content_01.css');
@import url('./sections__content_02.css');
@import url('./sections__content_03.css');
@import url('./slider__indicator.css');

:root {
  --bg: #0b1d26;
  --weib: #fff;
  --accent: #fbd784;

  --font-family: 'Poppins', sans-serif;
  --font-family-medium: 'Poppins-Medium', sans-serif;
  --font-family-regular: 'Poppins-Regular', sans-serif;
  --font-family-semi-bold: 'Poppins-SemiBold', sans-serif;
  --second-family: 'Playfair Display', sans-serif;
}
body {
  background-color: var(--bg);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body a {
  cursor: pointer;
}
.general-container {
  width: 1920px;
  margin: 0 auto;
}
/* HEADER STYLE */
.header__container {
  margin-top: 64px;
  margin-left: 91px;
}
.header {
  position: absolute;
  background-image: url(./img/1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 1900px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  width: 1760px;
  height: 37px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -moz-box-align: start;
  align-items: flex-start;
}
.header__logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  width: 113px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--weib);
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  width: 286px;
  height: 27px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
  padding: 2px 3px 8px 0px;
}
.header__link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  width: auto;
  color: var(--weib);
}
.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  width: 105px;
  padding: 3px 0px 8px 0px;
  position: relative;
}
.header__account-link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
  color: var(--weib);
}
.header__account-img {
  padding-right: 7px;
  padding-top: 2px;
}
.header__account-span {
  padding-left: 3px;
  position: absolute;
  top: 6px;
}
.header__burger-menu {
  display: none;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  position: absolute;
  top: 359px;
  left: 77px;
  width: 27px;
  height: 173px;
}

.header__social-span {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--weib);
}

.header__social-group-btn {
  padding-top: 16px;
  padding-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
  width: 24px;
  height: 72px;
}

.header__social-btn {
  width: 24px;
  height: 24px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  position: absolute;
  top: 287px;
  left: 500px;
  width: 950px;
  height: 419px;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.header__content-first-line {
  height: 27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  justify-items: flex-start;
  gap: 33px;
}
.header__content-img {
  height: 2px;
  padding-top: 10px;
  position: relative;
}
.header__content-span {
  padding-top: 3px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: var(--accent);
}
.header__content-second-line {
  padding-top: 5px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 88px;
  line-height: 114%;
  text-transform: capitalize;
  color: var(--weib);
}
.header__content-scroll-down {
  width: 126px;
  height: 28px;
  padding-left: 1px;
}
.header__content-btn {
  display: inline-block;
  width: 100%;
  height: 28px;
  font-family: var(--font-family);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: var(--weib);
}
.header__content-scroll-span {
  vertical-align: text-top;
}
.header__slider {
  position: fixed;
  z-index: 1;
  top: 326px;
  right: 80px;
  width: 77px;
  height: 244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}
.header__slider-list {
  margin-left: 1px;
  margin-top: 19px;
  margin-bottom: 0px;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -moz-box-align: end;
  align-items: flex-end;
}
.header__slider-item {
  height: 27px;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  color: var(--weib);
}
.header__slider-bg {
  position: relative;
  padding-left: 28px;
}
/* MAIN STYLE */
.sections__container {
  position: absolute;
  top: 1440px;
  margin-left: 229px;
  width: 1478px;
  height: 2560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.section {
  margin: 0 auto;
  width: 1462px;
  height: 720px;
}

.sections_number {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 240px;
  line-height: 100%;
  color: var(--weib);
  opacity: 0.1;
  width: 247px;
  height: 240px;
}

.number-left {
  padding-top: 38px;
}

.number-right {
  padding-top: 38px;
  padding-left: 680px;
}

.sections__chapter {
  height: 27px;
}

/* .sections__chapter-holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 24.9px;
} */

/* .sections__chapter-img {
  padding-bottom: 5px;
} */

.sections__chapter-span {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: var(--accent);
}

.sections__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 64px;
  color: var(--weib);
  height: 170px;
  width: 555px;
  margin-top: 5px;
  /* vertical-align: center; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  padding-top: 0px; */
}

.section__title-p {
  margin: 0;
  width: 530px;
  line-height: 5.1rem;
}

.sections__description {
  width: 632px;
  height: 160px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.96rem;
  color: var(--weib);
  padding-bottom: 0px;
}
.sections__link-more {
  height: 27px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--accent);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -moz-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  gap: 7px;
}
.sections__btn-more-img {
  padding-top: 3px;
  -ms-flex-item-align: self-start;
  align-self: self-start;
}
.sections__img-01 {
  position: absolute;
  top: 0;
  right: 8px;
}
.sections__two,
.sections__three {
  position: relative;
}
.sections__img-02 {
  position: absolute;
  top: 0;
}
.section__title-p-03 {
  height: 100%;
  width: 560px;
  letter-spacing: -0.01em;
  line-height: 5.8rem;
}
.sections__img-03 {
  position: absolute;
  top: 0;
  right: 0;
}
/* FOOTER STYLE */
.footer__container {
  position: absolute;
  top: 4200px;
  bottom: 0;
  margin-left: 229px;
  width: 1478px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.footer__holder {
  display: grid;
  grid-template-rows: 43px 19px 64px auto 32px;
  width: 382px;
  height: 280px;
}

.footer__logo {
  padding-top: 5px;
}

.footer__text {
  width: 365px;
  font-family: var(--font-family-semi-bold);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.96rem;
  letter-spacing: 0px;
  color: var(--weib);
}

.footer__text p {
  margin: 0;
}

.footer__copyright {
  padding: 8px 0 0 2px;
}
.footer__wrapper {
  width: 582px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.footer__links-blog {
  width: 221px;
  height: 280px;
}
.footer__links-mntn {
  width: 177px;
  height: 184px;
}

.footer__links-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--accent);
  margin: 0;
}

.footer__link {
  font-family: var(--font-family-semi-bold);
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
  color: var(--weib);
  text-decoration: none;
}

.footer__links-ul-blog,
.footer__links-ul {
  padding-top: 22px;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -moz-box-pack: start;
  justify-content: flex-start;
  gap: 17px;
}
.burger-menu {
  position: fixed;
  top: 0;
  border-radius: 0 0 10px 10px;
  width: 768px;
  height: 265px;
  background: var(--weib);
  z-index: 1;
}
.burger-menu__container {
  width: 640px;
  height: 141px;
  margin: 64px 67px 64px 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.burger-menu__first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.burger-menu__logo {
  width: 106px;
  height: 37px;
}
.burger-menu__btn-close {
  width: 37px;
  height: 37px;
}
.burger-menu__second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
  height: 44.44px;
  width: 632px;
}
.burger-menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
  width: 325px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
}
.burger-menu__links a {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: #354147;
  text-decoration: none;
}
.burger-menu__link-about-us {
  margin-left: -3px;
  padding-top: 4px;
}
.burger-menu__account-link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 17px;
  color: #354147;
  text-decoration: none;
  display: block;
  width: 106px;
  position: relative;
}
.burger-menu__account-link img {
  position: absolute;
  top: 8px;
}
.burger-menu__account-link span {
  position: absolute;
  top: 15px;
  right: -3px;
}
.burger-menu__social {
  display: none;
}
.open {
  display: block;
  -webkit-animation: shows 1s;
  animation: shows 1s;
}
.hidden {
  display: none;
}
@-webkit-keyframes shows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes shows {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Desktop 1536 */
@media (max-width: 1536px) {
  /* HEADER STYLE BY 1536 */
  .header {
    background-size: cover;
    background-position: -82px 0px;
    width: 1536px;
    height: 1682px;
  }

  .header__container {
    margin-left: 80px;
  }

  .header__menu {
    width: 1376px;
  }

  .header__links {
    padding: 4px 7px 0px 1px;
  }

  .header__account {
    padding: 5px 0px 8px 0px;
  }

  .header__account-img {
    padding-left: 3px;
    padding-right: 4px;
  }

  .header__account-span {
    padding-left: 2px;
    top: 9px;
  }

  .header__content {
    top: 305px;
    left: 293px;
  }

  .header__slider {
    top: 326px;
    right: 48px;
  }

  /* MAIN STYLE BY 1536 */
  .sections__container {
    position: absolute;
    top: 1443px;
    margin-left: 138px;
    width: 1260px;
    height: 3207px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-box-pack: start;
    justify-content: flex-start;
    gap: 200px;
  }

  .section {
    margin: 0 auto;
    width: 1260px;
    height: 765px;
  }
  .sections__title {
    font-family: var(--font-family);
    height: 170px;
    width: 555px;
    gap: 21px;
  }

  .number-left {
    padding-top: 41.37px;
  }

  .section__title-p_01 {
    margin: -6px;
    padding-left: 2px;
    padding-top: 3px;
    line-height: 6rem;
  }

  .sections__description {
    height: 160px;
    line-height: 2rem;
    color: var(--weib);
    margin-top: 11px;
    padding-top: 9px;
    padding-bottom: 0px;
  }

  .sections__img-01 {
    position: absolute;
    top: 0;
    right: 0px;
    width: 487.8px;
    height: 765px;
    margin: 0;
  }

  .sections__img-01-1536 {
    content: url('./img/1536/01.png');
  }

  .sections__img-02 img {
    content: url(./img/1536/02.png);
  }

  .number-right {
    padding-top: 18.37px;
    padding-left: 568.05px;
  }

  /* .sections__content-02 {
    position: absolute;
    top: 172.53px;
    right: 0px;
    left: 671.66px;
    width: 632px;
    height: 519px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */

  .section__title-p-02 {
    line-height: 5.8rem;
  }

  .section__title-p-03 {
    line-height: 5.9rem;
  }

  .sections__img-03 img {
    content: url('./img/1536/03.png');
  }

  .sections__content-03 {
    top: 205.41px;
    left: 71.82px;
  }
  /* FOOTER STYLE BY 1536 */
  .footer__container {
    top: 4339px;
    bottom: 0;
    margin-left: 139px;
    width: 1258px;
    height: 312px;
  }

  .footer__wrapper {
    width: 637px;
    height: 248px;
  }

  .footer__links-blog {
    width: 300px;
    height: 248px;
  }

  .footer__links-mntn {
    width: 220px;
    height: 180px;
  }

  .footer__links-ul-blog {
    padding-top: 16px;
    gap: 11px;
  }

  .footer__links-ul-mntn {
    gap: 14px;
    padding-top: 22px;
  }
}

/* Laptop 1024 */
@media (max-width: 1024px) {
  /* HEADER STYLE BY 1024 */
  .header {
    background-size: cover;
    background-position: -217px 0px;
    width: 1024px;
    height: 1443px;
  }

  .header__container {
    margin-left: 61px;
  }

  .header__menu {
    width: 901px;
  }

  .header__links {
    width: 310px;
    height: 28px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-box-pack: start;
    justify-content: flex-start;
    gap: 40px;
    padding: 5px 0px 0px 0px;
  }

  .header__account {
    width: 117px;
    height: 26px;
    padding: 7px 0px 0px 0px;
  }

  .header__account-span {
    padding-left: 6px;
    top: 11px;
  }

  .header__content {
    left: 208px;
    width: 705px;
    height: 315px;
  }

  .header__content-second-line {
    font-size: 60px;
    line-height: 167%;
  }

  .header__slider-list {
    margin-left: 18px;
    margin-top: 20px;
  }

  .header__slider-bg {
    padding-left: 10px;
  }

  /* MAIN STYLE BY 1024 */
  .sections__container {
    position: absolute;
    top: 1177px;
    margin-left: 32px;
    width: 960px;
    height: auto;
    display: block;
  }

  .section {
    margin: 0 auto;
    width: 960px;
    height: 1538px;
  }

  .number-left,
  .number-right {
    position: absolute;
    top: 78px;
    left: 100px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .sections__chapter-span {
    padding-top: 1px;
  }

  .sections__title {
    height: 192px;
    /* margin-left: -4px;
    padding-top: 20px;
    padding-left: 0px; */
  }

  .section__title-p_01 {
    /* margin: 0; */
    margin-left: -1px;
    padding-left: 0px;
    padding-top: 8px;
    line-height: 5.99rem;
  }

  .sections__description {
    width: 725px;
    padding-top: 0px;
    padding-bottom: 8px;
  }

  .sections__btn-more-span {
    padding-top: 1px;
  }

  .sections__img-01 {
    margin: 0 auto;
    position: static;
    width: 860px;
    height: 982px;
    content: url('./img/1024/01.png');
    padding-top: 1px;
  }

  .sections__two {
    position: relative;
    top: 178px;
    height: 1542px;
    width: 960px;
  }

  /* .sections__title_02 {
    margin-top: 27px;
    padding-top: 15px;
    width: 632px;
    height: 174px;
    align-items: flex-end;
    gap: 23px;
    display: flex;
    justify-content: flex-end;
  } */

  .section__title-p-02 {
    text-align: right;
  }

  .sections__img-02 {
    position: absolute;
    content: url('./img/1024/02.png');
    top: 770px;
    left: 50px;
  }

  /* .sections__content-02 {
    display: block;
    position: absolute;
    top: 210px;
    left: 218px;
    align-items: flex-end;
    height: 503px;
  } */

  .sections__chapter {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  /* .sections__chapter-span_02 {
    margin-left: 18px;
  } */

  .sections__btn-more-02 {
    margin-top: 27px;
  }
  .sections__three {
    top: 503px;
  }

  .sections__content-03 {
    position: absolute;
    top: 217px;
    left: 86px;
  }
  .sections__img-03 {
    position: absolute;
    content: url('./img/1024/03.png');
    top: 769px;
    left: 50px;
  }
  /* FOOTER STYLE BY 1024 */
  .footer__container {
    top: 6880px;
    margin-left: 32px;
    width: 960px;
    height: 306px;
  }

  .footer__holder {
    width: 384px;
    height: 306px;
    grid-template-rows: 43px 19px 95px auto 31px;
  }

  .footer__logo {
    padding-top: 6px;
  }

  .footer__text {
    padding-top: 1px;
    margin-left: -1px;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: -0.02px;
  }

  .footer__copyright {
    padding: 9px 0 0 3px;
  }

  .footer__copyright img {
    content: url('./img/copyright_small.png');
  }

  .footer__wrapper {
    width: 486.11px;
    height: 287.86px;
  }

  .footer__links-mntn {
    width: 184px;
    height: 179px;
  }

  .footer__link {
    font-size: 16px;
    line-height: 200%;
    letter-spacing: -0.1px;
  }

  .footer__links-ul-blog {
    padding-top: 0px;
    margin-top: 26px;
    gap: 18px;
  }

  .footer__links-ul {
    margin-top: 24px;
    padding-top: 0px;
    gap: 15px;
  }
}

/* Tablet 768 */
@media (max-width: 768px) {
  /* HEADER STYLE BY 768 */
  .header {
    background-size: cover;
    background-position: -233px -6px;
    width: 768px;
  }

  .header__menu {
    width: 640px;
  }

  .header__links {
    display: none;
  }

  .header__account {
    display: none;
  }

  .header__burger-menu {
    display: block;
  }

  .header__social {
    width: 24px;
    height: 150px;
    left: 64px;
  }

  .header__social-span {
    font-size: 16px;
    height: 110px;
  }

  .header__social-group-btn {
    padding-top: 3px;
    padding-left: 0;
  }

  .header__social-btn img {
    width: 20px;
    height: 20px;
  }

  .header__content {
    left: 113px;
    top: 265px;
    width: 517px;
    height: 308px;
  }

  .header__content-first-line {
    height: 24px;
    gap: 24px;
  }

  .header__content-span {
    padding-top: 4px;
    font-size: 16px;
    letter-spacing: 0.38em;
  }

  .header__content-second-line {
    font-size: 44px;
    line-height: 227%;
  }

  .header__content-scroll-down {
    width: 117px;
    height: 24px;
  }

  .header__content-btn {
    font-size: 16px;
  }

  .header__content-arrow {
    margin-top: 2px;
    margin-left: 6px;
    width: 12px;
    height: 20px;
  }

  .header__slider {
    width: 68px;
    height: 240px;
    top: 326px;
    right: 48px;
  }

  .header__slider-list {
    margin-left: 10px;
    margin-top: 20px;
    height: 210px;
  }

  .header__slider-item {
    font-size: 16px;
  }

  .header__slider-bg {
    padding-left: 15px;
  }

  /* MAIN STYLE BY 768 */
  .sections__container {
    top: 1265px;
    width: 704px;
  }
  .section {
    width: 704px;
    height: 1210px;
    margin: 0px;
  }
  .sections_number {
    font-size: 180px;
    line-height: 133%;
  }
  .number-left {
    top: 2px;
    left: 35px;
  }
  .sections__chapter {
    height: 24px;
  }
  .sections__chapter-span {
    padding-top: 3px;
    font-size: 16px;
    letter-spacing: 0.38em;
  }
  .sections__title {
    margin-top: 27px;
    font-size: 40px;
    height: 120px;
  }
  .section__title-p_01 {
    padding: 0;
    padding-top: 5px;
    height: 120px;
    width: 555px;
    line-height: 3.8rem;
    letter-spacing: normal;
  }
  .sections__description {
    margin-top: 33px;
    padding: 0;
    width: 632px;
    height: 160px;
    font-size: 16px;
  }
  .sections__btn-more {
    margin-top: 27px;
  }
  .sections__link-more {
    font-size: 16px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-box-pack: start;
    justify-content: flex-start;
    gap: 18px;
  }
  .sections__img-01 {
    margin: 0 auto;
    position: static;
    width: 704px;
    height: 934px;
    content: url('./img/768/01.png');
    padding-top: 1px;
  }
  .sections__img-02 {
    margin: 0 auto;
    position: absolute;
    width: 704px;
    height: 934px;
    content: url('./img/768/02.png');
    padding-top: 1px;
    top: 614px;
    left: 1px;
  }
  .sections__img-03 {
    margin: 0 auto;
    top: 611px;
    left: -6px;
    width: 704px;
    height: 934px;
    content: url('./img/768/03.png');
  }
  .sections__chapter-holder {
    gap: 6.9px;
  }
  .sections__two {
    height: 1550px;
    width: 704px;
  }
  .section__title-p-02 {
    margin-top: 11px;
    font-size: 40px;
    width: 633px;
    height: 60px;
  }
  .sections__content-03 {
    left: 32px;
    top: 155.5px;
    width: 634px;
    height: 409px;
  }
  .section__title-p-03 {
    line-height: 3.9rem;
    padding-top: 27px;
  }
  .sections__two {
    margin-top: 38px;
  }
  .number-right {
    top: 22px;
    left: 35px;
  }
  .sections__three {
    top: 221px;
  }
  /* FOOTER STYLE BY 768 */
  .footer__container {
    top: 6086px;
    margin-left: 29px;
    width: 704px;
  }
  .footer__holder {
    width: 362px;
    grid-template-rows: 43px 19px 95px auto 31px;
  }
  .footer__logo {
    padding-top: 7px;
  }

  .footer__logo img {
    width: 107px;
  }

  .footer__text {
    width: 262.94px;
  }

  .footer__copyright {
    padding: 9px 0 0 3px;
  }

  .footer__copyright img {
    content: url('./img/copyright_768.png');
  }

  .footer__wrapper {
    width: 378.02px;
  }

  .footer__links-title {
    font-size: 20px;
    line-height: 160%;
  }

  .footer__links-mntn {
    width: 192px;
  }

  .footer__links-ul-blog {
    margin-top: 27px;
    gap: 9px;
  }

  .footer__links-title_mntn {
    padding-top: 2px;
  }

  .footer__links-ul-mntn {
    margin-top: 22px;
    gap: 11px;
  }
}
/* Mobile 480 */
@media (max-width: 480px) {
  /* HEADER STYLE BY 480 */
  .header {
    background-repeat: no-repeat;
    background-size: cover;
    width: 480px;
    height: 848px;
    background-position: -260px -1px;
  }
  .header__container {
    margin-top: 61px;
    margin-left: 20px;
    width: 440px;
  }
  .header__logo {
    width: 142px;
  }
  .header__logo img {
    content: url(./img/icons/logo_480.svg);
  }
  .header__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    left: 314px;
    top: 168px;
    width: 149px;
    height: 24px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
  }
  .header__social-span {
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
    height: 24px;
    padding-top: 6px;
  }
  .header__social-group-btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
    width: 58px;
    height: 20px;
  }
  .header__social-btn {
    display: block;
  }
  .header__menu {
    width: 440px;
  }
  .header__content {
    left: 20px;
    top: 227px;
    width: 388px;
    height: 330px;
  }
  .header__content-second-line {
    margin-top: -7px;
    line-height: 159%;
    padding-top: 0px;
  }
  .header__content-scroll-down {
    margin-left: -1px;
    margin-bottom: 2px;
  }
  .header__content-arrow {
    padding-top: 1px;
    margin-left: 7px;
  }
  .header__slider {
    top: 305px;
    right: 28px;
  }
  .header__slider-bg {
    padding-left: 14px;
  }
  /* MAIN STYLE BY 480 */
  .sections__container {
    top: 663px;
    width: 440px;
    margin-left: 20px;
  }
  .section {
    width: 440px;
    height: 919px;
  }
  .sections__two {
    top: 0px;
    height: 1028px;
  }
  .sections__three {
    /* position: relative; */
    top: 38px;
  }
  .sections_number {
    font-size: 140px;
    line-height: 107%;
    width: 144px;
    height: 150px;
  }
  .number-left,
  .number-right {
    top: 1px;
    left: 0px;
  }
  .sections__img-01 {
    margin: 0;
    position: static;
    width: 440px;
    height: 509px;
    content: url('./img/480/01.png');
    padding-top: 0px;
  }
  .sections__img-02 {
    margin: 0 auto;
    width: 440px;
    height: 509px;
    content: url('./img/480/02.png');
    padding-top: 0px;
    top: 518px;
    left: 0px;
  }
  .sections__img-03 {
    margin: 0 auto;
    /* position: static; */
    width: 440px;
    height: 509px;
    content: url('./img/480/03.png');
    padding-top: 0px;
    top: 529px;
    left: 0px;
  }

  /* FOOTER STYLE BY 480 */
  .footer__container {
    top: 3927px;
    margin-left: 20px;
    width: 440px;
    height: 531px;
    display: block;
  }
  .footer__holder {
    display: block;
    height: 114px;
  }
  .footer__logo img {
    width: 105px;
  }
  .footer__text {
    width: 405px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 267%;
    color: var(--weib);
    padding-top: 0px;
    margin-left: 1px;
  }
  .footer__text p {
    letter-spacing: -0.01em;
  }
  .footer__copyright {
    position: absolute;
    padding: 0;
    bottom: 0px;
    width: 327px;
    height: 22px;
  }
  .footer__copyright img {
    content: url('./img/copyright_480.png');
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
  }
  .footer__links-blog {
    height: 208px;
  }
  .footer__links-ul-blog {
    margin-top: 8px;
    gap: 17px;
  }
  .footer__link {
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
  }
  .footer__links-mntn {
    margin-top: 37px;
  }
  .footer__links-ul-mntn {
    margin-top: 7px;
    gap: 10px;
  }
  /* Burger by 480 */
  .burger-menu {
    position: fixed;
    top: 0;
    border-radius: 0 0 10px 10px;
    width: 480px;
    height: 350px;
    background: var(--weib);
    z-index: 1;
  }
  .burger-menu__container {
    width: 400.13px;
    height: 229px;
    margin: 64px 41.87px 57px 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
  }
  .burger-menu__first-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
  }
  .burger-menu__second-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
    height: 121.59px;
    width: 384.13px;
  }
  .burger-menu__links {
    padding-top: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-box-pack: start;
    justify-content: flex-start;
    width: 200px;
    height: 120px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -moz-box-align: start;
    align-items: flex-start;
    gap: 24px;
  }
  .burger-menu__links a {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #354147;
    text-decoration: none;
  }
  .burger-menu__link-about-us {
    margin-left: 0px;
    padding-top: 0px;
  }
  .burger-menu__account-link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    color: #354147;
    text-decoration: none;
    display: block;
    width: 106px;
    position: relative;
  }
  .burger-menu__account-link img {
    top: 0px;
    left: -1px;
  }
  .burger-menu__account-link span {
    top: 7px;
    right: -3px;
  }
}

/* Mobile 320 */
@media (max-width: 320px) {
  /* HEADER STYLE BY 320 */
  .header {
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 565px;
    background-position: -163px 1px;
  }
  .header__container {
    margin-left: 10px;
    width: 310px;
  }
  .header__menu {
    width: 300px;
  }
  .header__logo {
    width: 129px;
    height: 41px;
  }
  .header__logo img {
    content: url(./img/icons/logo_320.svg);
  }
  .header__burger-menu {
    margin-top: 5px;
  }
  .header__burger-btn {
    display: block;
  }
  .header__burger-btn img {
    content: url('./img/icons/burger_320.svg');
  }
  .header__social {
    left: 160px;
    top: 170px;
  }
  .header__social-span {
    font-family: var(--font-family-semi-bold);
  }
  .header__content {
    left: 10px;
    width: 300px;
    height: 298px;
  }
  .header__content-first-line {
    gap: 14px;
  }
  .header__content-span {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5em;
    padding-top: 2px;
  }
  .header__content-img {
    width: 40px;
    padding-top: 7px;
  }
  .header__content-second-line {
    height: 218px;
    width: 240px;
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
    margin-top: 0px;
  }
  .header__content-scroll-down {
    width: 120px;
    margin: 0;
  }
  .header__content-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-box-pack: start;
    justify-content: flex-start;
    gap: 23px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
  }
  .header__content-scroll-span {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
    margin-left: -1px;
  }
  .header__content-arrow {
    margin: 0;
    padding-top: 0px;
  }
  .header__slider {
    top: 352px;
    right: auto;
    left: 239px;
    width: 66px;
  }
  .header__slider-list {
    margin-left: 19px;
    margin-top: 15px;
    height: 142px;
  }
  .header__slider-item {
    font-weight: 700;
    font-size: 12px;
  }
  .header__slider-bg {
    padding-left: 15px;
  }
  .header__slider-bg img {
    width: 2px;
  }
  /* MAIN STYLE BY 320 */
  .sections__container {
    top: 595px;
    width: 300px;
    margin-left: 10px;
  }
  .section {
    width: 300px;
    height: 880px;
  }
  .sections_number {
    width: 103px;
    height: 90px;
    font-weight: 700;
    font-size: 100px;
    line-height: 90%;
  }
  .number-left,
  .number-right {
    left: -1px;
  }

  .sections__img-01 {
    margin-top: 29px;
    position: static;
    width: 300px;
    height: 400px;
    content: url('./img/320/01.png');
    padding-top: 0px;
  }
  .sections__img-02 {
    width: 300px;
    height: 400px;
    content: url('./img/320/02.png');
    padding-top: 2px;
    top: 518px;
    left: 0px;
  }
  .sections__img-03 {
    width: 300px;
    height: 400px;
    content: url('./img/320/03.png');
    padding-top: 0px;
    top: 520px;
    left: 0px;
  }
  .sections__two {
    margin-top: 89px;
    height: 920px;
  }
  .sections__three {
    margin-top: 52px;
    height: 920px;
  }
  /* FOOTER STYLE BY 320 */
  .footer__container {
    top: 3614px;
    margin-left: 10px;
    width: 300px;
    height: 667px;
  }
  .footer__holder {
    width: 300px;
    height: 114px;
  }
  .footer__text {
    margin-top: 3px;
    margin-left: 0;
    width: 300px;
  }
  .footer__wrapper {
    margin-top: 27px;
    width: 300px;
    height: 266px;
  }
  .footer__links-blog {
    height: 266px;
  }
  .footer__links-ul-blog {
    height: 189px;
    margin-top: 31px;
    /* gap: 24px; */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
  }
  .footer__link {
    font-family: var(--font-family-medium);
  }
  .footer__links-mntn {
    margin-top: 43px;
  }
  .footer__links-ul-mntn {
    margin-top: 25px;
    gap: 18px;
  }
  .footer__copyright {
    position: absolute;
    padding: 0;
    bottom: 0px;
    width: 300px;
    height: 22px;
  }
  /* Burger by 320 */
  .burger-menu {
    position: fixed;
    top: 0;
    border-radius: 0 0 10px 10px;
    width: 320px;
    height: 350px;
    background: var(--weib);
    z-index: 1;
  }
  .burger-menu__container {
    width: 272.58px;
    height: 264px;
    margin: 50px 22px 36px 25.42px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-box-pack: start;
    justify-content: flex-start;
    gap: 50px;
  }
  .burger-menu__first-line {
    width: 268px;
  }
  .burger-menu__second-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    height: 162px;
    width: 135.55px;
  }
  .burger-menu__links {
    padding-top: 0px;
    width: 135.55px;
    height: auto;
    gap: 10px;
  }
  .burger-menu__links a {
    height: 25.53px;
    font-family: var(--font-family-semi-bold);
    font-weight: 600;
    font-size: 14px;
    color: #354147;
    text-decoration: none;
    padding-left: 2px;
  }
  .burger-menu__link-about-us {
    margin-left: 0px;
    padding-top: 0px;
  }
  .burger-menu__account-link {
    font-weight: 700;
    font-size: 16px;
    display: block;
    width: 106px;
    position: relative;
  }
  .burger-menu__account-link img {
    top: 0px;
    left: 3px;
    width: 25px;
    height: 25px;
  }
  .burger-menu__account-link span {
    top: 6px;
    right: 2px;
  }
  .burger-menu__account-holder {
    /* display: flex; */
    width: 106.17px;
    height: 27.4px;
  }
  .burger-menu__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 168px;
    left: 274px;
    height: 150px;
  }
  .burger-menu__social-span {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-family: var(--font-family-semi-bold);
    font-weight: 600;
    font-size: 16px;
    color: #354147;
  }
  .burger-menu__social-group-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
    height: 59px;
  }
  .burger-menu__social-btn svg {
    width: 20px;
    height: 20px;
  }
}
